{{ partial "header" . }}

<div class="post-title">
  <img src="{{ "/images/post-title-icon.png" | relURL }}" />
  <div class="post-meta">
    <time>#categories</time>
    <h1>CATEGORIES</h1>
  </div>
</div>

<div class="categories">
  <ul>
    {{ $baseurl := .Site.BaseURL }}
    {{ $data := .Data }}
    {{ range $key,$value := .Data.Terms.Alphabetical }}
    <li>
      <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
        <i class="fa fa-angle-right icon" aria-hidden="true"></i>
        {{ humanize $value.Name }}
        <div class="count">{{ $value.Count }} posts</div>
      </a>
    </li>
    {{ end }}
  </ul>  
</div>

{{ partial "footer" . }}
