/*
* HELLO-PROGRAMMER Theme CSS
*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  font-family: 'Nanum Gothic', 'Sans-serif';
}

html, body, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 27px;
  margin-top: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
}

h3 {
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 10px;
}

h5 {
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 10px;
}

a, a:visited {
  color: #00B2A0;
  text-decoration: none;
}

code {
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 3px;
}

blockquote {
  border-left: 7px solid #F5F5F5;
  padding-left: 10px;
}

dt {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.seperator {
  clear: left;
  color: #717171;
  text-align: center;
  padding: 45px;
}


/*
* navbar
*/

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: #4A4A4A;
}

.navbar ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.navbar li {
  display: inline-block;
  padding: 0px 8px 0px 8px;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: bolder;
}

.navbar li a {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar li a:hover {
  color: #00B2A0;
}

.navbar .logo-title {
  font-weight: bold;
  color: #cccccc;
  padding-right: 10px;
}

/*
* container
*/

.container {
  margin: auto;
  max-width: 800px;
  padding: 40px 30px 15px 30px;
  font-size: 16px;
  line-height: 1.65em;
  color: #333e4c;
}

.container .title {
  text-align: center;
  padding: 50px 0px 80px 0px;
}

.post-list-item {
  margin: 14px 0px 14px 0px;
}

/*
* summary
*/

.summary-sep {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 60px 0px 40px 0px;
}

.summary-content {
  color: #717171;
  line-height: 1.6em;
}

.summary-more, .summary-more:visited {
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  background-color: #00B2A0;
  font-size: 0.75em;
  color: white;
}

/*
* Post
*/

.post-title a {
  text-decoration: none;
}

.post-title img {
  float: left;
  padding-top: 5px;
  margin-right: 10px;
}

.post-meta, .post-meta a, .post-meta a:visited {
  display: block;
  color: #4A4A4A;
  font-size: 14px;
  line-height: 1.7em;
}

.post-meta h1 {
  color: #00B2A0;
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 1.2em;
}

.post-meta time {
  margin-bottom: 0px;
}

.post-toc {
  float: right;
  margin-left: 20px;
  padding: 20px 25px 20px 25px;
  background-color: #f5f5f5;
  font-size: .8rem;
  line-height: 1.8em;
}

.post-toc a, .post-toc a:visited {
  color: #4A4A4A;
}

.post-toc .title {
  font-size: .8rem;
  font-weight: bold;
  padding: 10px 10px 10px 0px;
}

.post-toc ul {
  padding-left: 20px;
}

.post-content {
  margin-top: 20px;
}

.post-content hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 60px 0px 40px 0px;
}

.post-content img {
  max-width: 100%;
}

.post-meta-code {
  background-color: #f5f5f5;
  padding: 10px;
  color: #A0A0A0;
  font-size: 12px;
  font-weight: 100;
  line-height: 1.6em;
}

.post-meta-code a, .post-meta-code a:visited {
  color: #A0A0A0;
  font-weight: 400;
}

.post-meta-code .desc {
  padding-left: 10px;
}

.share {
  margin: 2rem;
  text-align: center;
}

.share a {
  display: inline-block;
  width: 2.4rem;
  line-height: 2.4rem;
  font-size: 1.2rem;
  color: #A0A0A0;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin: 0 .5rem;
}

.share a:hover {
  color: #00B2A0;
}

.post-comment {
  margin: 30px 0px 20px 0px;
}

/*
* Pagination
*/

.paging {
  margin: 20px 0px 15px 0px;
  color: #00B2A0;
  font-size: 1.4rem;
  text-align: center;
}

.paging a, a:visited {
  margin: 0px;
}

.paging a, span {
  font-size: 1.1rem;
}

.paging .left {
  float: left;
}

.paging .right {
  float: right;
}

.post-paging {
  margin-top: 15px;
  height: 40px;
}

/*
* footer
*/

.footer {
  padding-top: 5px;
  font-size: 11px;
  color: #C7C7C7;
  text-align: center;
}

.footer a {
  color: #C7C7C7;
}

/*
* Categories
*/
.categories {
  padding: 0px 10px 0px 10px;
  font-size: 1.2rem;
}

.categories ul {
  list-style-type: none;
  margin: 0px;
}

.categories li {
  padding: 10px;
}

.categories li:hover {
  background-color: #e3e3e3;
}

.categories .icon {
  margin-right: 15px;
}

.categories .count {
  float: right;
}

/*
* Tags
*/
.tags {
  padding: 0px 30px 30px 30px;
}

.tags .tag {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border: 1px dashed #dddddd;
  border-radius: 5px;
}

.tags .tag:hover {
  background-color: #eeeeee;
}

/*
* Projects
*/
.project {
  padding: 0px 5% 0px 5%;
}

.project .item {
  margin: 10px;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  width: 280px;
  height: 280px;
}

.project .item h1 {
  margin: 0;
  padding: 10px;
}

.project .item description {
  padding: 0px 10px 0px 10px;
  float: right;
  color: #717171;
}