{{ partial "header.html" . }}

{{ range .Data.Pages }}
<div class="post-list-item">
  <a href="{{ .Permalink }}">
    <div class="post-title">
      <img src="{{ "/images/post-title-icon.png" | relURL }}" />
      <div class="post-meta">
        <time>{{ .Date.Format "02 Jan 2006, 15:04" }}</time>
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </a>
</div>
{{ end }}

{{ partial "pagination.html" . }}

<div class="seperator">
  <img src="{{ "/images/seperator.png" | relURL }}" />
</div>

{{ partial "footer.html" . }}
