{{ partial "header" . }}

<div class="post-title">
  <img src="{{ "/images/post-title-icon.png" | relURL }}" />
  <div class="post-meta">
    <time>#tags</time>
    <h1>TAGS</h1>
  </div>
</div>

<div class="tags">
  {{ $baseurl := .Site.BaseURL }}
  {{ $data := .Data }}
  {{ range $key,$value := .Data.Terms.Alphabetical }}
  <div class="tag">
    <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
      {{ humanize $value.Name }}
    </a>
  </div>
  {{ end }}   
</div>

{{ partial "footer" . }}
