<div class="paging">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}" rel="prev">
    {{ i18n "paginationPrev" }}
    <i class="fa fa-caret-left" aria-hidden="true"></i>
  </a>
  {{ end }}
  <span class="page">
    {{ i18n "paginationPage" }} {{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}
  </span>
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}" rel="next">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
    {{ i18n "paginationNext "}}
  </a>
  {{ end }}
</div>
